<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--Map size-->
		<add key="MinMapNodes" value="10"/>
		<add key="MaxMapNodes" value="100"/>

		<!--Map X coordinates range-->
		<add key="MinMapXCoord" value="0"/>
		<add key="MaxMapXCoord" value="1000"/>

		<!--Map Y coordinates range-->
		<add key="MinMapYCoord" value="0"/>
		<add key="MaxMapYCoord" value="1000"/>

		<!--Map file-->
		<add key="MapExtension" value="tspmap"/>
		<add key="MapExtensionName" value="TSP Map file"/>

		<!--Algo file-->
		<add key="AlgoExtension" value="tspalgo"/>
		<add key="AlgoExtensionName" value="TSP Algorithm file"/>

		<!--Genetic algorithm-->
		<add key="GeneticAlgorithmMinPopulationSize" value="50"/>
		<add key="GeneticAlgorithmMaxPopulationSize" value="1000"/>

	</appSettings>
</configuration>